body{
  background-color: lightblue;
}
.header-container{
  text-align: center;
}
.season-number{
  font-size:120px;
  margin:0;
}
.season-label{
  font-size:70px;
  margin:0;
}
.date-dependency{
  font-size:50px;
  margin-top:20px;
}
.timer{
  text-align: center;
  font-size:100px;
  
}
.days,.hours,.minutes,.seconds{
  display: inline-block;
  margin-top:30px;
}